/* Reset some default browser styles */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*------------------responsive immages --------------------*/
img {
max-width: 100%;

  
}

body {
  background-image: url('assets/img/dragon-exterior.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 30px;
}

.table-container {
  width: 80%; /* Optional: set width of the container */
  justify-content:space-around;
}

table {
  width: 80%; /* Table width can be 100% or a fixed value */
  border:#243bbb; /* Optional: remove space between borders */
  margin: auto;
  justify-content: center;
  padding: 8px;
}



th {
  background-color: #f4f4f4;
}


/* Header styles */

.primary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for the header */
  padding: 20px 0;
  border-bottom: 5px solid #f1f1f1;
  z-index: 1000; /* Ensures the header is above the content */
}

.header-content nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.header-content nav ul li {
  margin: 0 15px;
}

.header-content nav ul li a {
  color: rgb(77, 190, 235);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-content nav ul li a:hover {
  color: #ff6600;
}

.header-image {
  width: 150px; /* Set the image size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: adds rounded corners */
}

/* Content styles */
.content {
  padding-top: 100px; /* Prevent the header from overlapping the content */
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 60px;
  text-align: center;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  text-indent: 30px;
}
